<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
   
</head>

<body>
    {{>header}}
    <p>{{name}}</p>
    <form>
        <input placeholder="Location">
        <button>search</button>
    </form>
    <p id='x'></p>
    <p id='y'></p>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>